{{ header }} {{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-free-checkout" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-free-checkout" class="form-horizontal">
                    <ul class="nav nav-tabs" id="tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                        <li><a href="#tab-cc" data-toggle="tab">{{ tab_credit_card }}</a></li>
                        <li><a href="#tab-installments" data-toggle="tab">{{ tab_installments }}</a></li>
                        <li><a href="#tab-sadad" data-toggle="tab">{{ tab_sadad }}</a></li>
                        <li><a href="#tab-naps" data-toggle="tab">{{ tab_naps }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_status" id="input-status" class="form-control">
                                    {% if payment_payfort_fort_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                    {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                    {% endif %}
                                  </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for=""> {{ entry_language }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_entry_language" class="form-control">
                                        <option value="store" {{ payment_payfort_fort_entry_language == 'store' ? 'selected="selected"' : ''  }} > {{ text_store_language }}</option>
                                        <option value="en" {{ payment_payfort_fort_entry_language == 'en' ? 'selected="selected"' : '' }}>{{ text_en }} </option>
                                        <option value="ar" {{ payment_payfort_fort_entry_language == 'ar' ? 'selected="selected"' : '' }}>{{ text_ar }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="">{{ entry_merchant_identifier }}</label>
                                <div class="col-sm-10">
                                    <input type="text" size ="50" name="payment_payfort_fort_entry_merchant_identifier" value="{{ payment_payfort_fort_entry_merchant_identifier }}" class="form-control" />
                                    {% if error_payfort_fort_entry_merchant_identifier %}
                                    <span style="color:red">{{ error_payfort_fort_entry_merchant_identifier }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="">{{ entry_access_code }}</label>
                                <div class="col-sm-10">
                                    <input type="text" size ="50" name="payment_payfort_fort_entry_access_code" value="{{ payment_payfort_fort_entry_access_code }}" class="form-control"/>
                                    {% if error_payfort_fort_entry_merchant_identifier %}
                                    <span style="color:red">{{ error_payfort_fort_entry_access_code }}</span>
                                    {% endif %}
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_command }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_entry_command" class="form-control">
                                        <option value="PURCHASE" {{ payment_payfort_fort_entry_command == 'PURCHASE' ? 'selected="selected"' : '' }} > {{ text_purchase }}</option>
                                        <option value="AUTHORIZATION" {{ payment_payfort_fort_entry_command == 'AUTHORIZATION' ? 'selected="selected"' : '' }} > {{ text_authorization }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_hash_algorithm }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_entry_hash_algorithm" class="form-control">
                                        <option value="sha1" {{ payment_payfort_fort_entry_hash_algorithm == 'sha1' ? 'selected="selected"' : '' }} > {{text_sha1 }}</option>
                                        <option value="sha256" {{ payment_payfort_fort_entry_hash_algorithm == 'sha256' ? 'selected="selected"' : '' }} > {{text_sha256 }}</option>
                                        <option value="sha512" {{ payment_payfort_fort_entry_hash_algorithm == 'sha512' ? 'selected="selected"' : '' }} > {{ text_sha512 }}</option>                                    
                                    </select>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="">{{ entry_request_sha_phrase }}</label>
                                <div class="col-sm-10">
                                    <input type="text" size ="50" name="payment_payfort_fort_entry_request_sha_phrase" value="{{ payment_payfort_fort_entry_request_sha_phrase }}" class="form-control"/>
                                    {% if error_payfort_fort_entry_merchant_identifier %}
                                    <span style="color:red">{{ error_payfort_fort_entry_request_sha_phrase }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="">{{ entry_response_sha_phrase }}</label>
                                <div class="col-sm-10">
                                    <input type="text" size ="50" name="payment_payfort_fort_entry_response_sha_phrase" value="{{ payment_payfort_fort_entry_response_sha_phrase }}" class="form-control"/>
                                    {% if error_payfort_fort_entry_merchant_identifier %}
                                    <span style="color:red">{{ error_payfort_fort_entry_response_sha_phrase }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_sandbox }}</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="payment_payfort_fort_entry_sandbox_mode" value="1" {{ payment_payfort_fort_entry_sandbox_mode ? 'checked="checked"' : '' }} class=""/>
                                        {{ text_yes }}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="payment_payfort_fort_entry_sandbox_mode" value="0" {{ not payment_payfort_fort_entry_sandbox_mode ? 'checked="checked"' : '' }} class="" />
                                        {{ text_no }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for=""><span data-toggle="tooltip" title="{{ help_gateway_currency }}">{{ entry_gateway_currency }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_entry_gateway_currency" class="form-control">
                                        <option value="base" {{ payment_payfort_fort_entry_gateway_currency == 'base' ? 'selected="selected"' : '' }} > {{ text_base_currency }}</option>
                                        <option value="front" {{ payment_payfort_fort_entry_gateway_currency == 'front' ? 'selected="selected"' : '' }} > {{ text_front_currency }} </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-debug"><span data-toggle="tooltip" title="{{ help_debug }}">{{ entry_debug }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_debug" id="input-debug" class="form-control">
                                        <option value="1" {{ payment_payfort_fort_debug ? 'selected="selected"' : '' }} > {{ text_enabled }}</option>
                                        <option value="0" {{ not payment_payfort_fort_debug ? 'selected="selected"' : '' }} > {{ text_disabled }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_order_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_order_status_id" class="form-control">
                                        {% for order_status in order_statuses %}
                                        {% if order_status.order_status_id == payment_payfort_fort_order_status_id %}
                                        {% if order_status.order_status_id == payment_payfort_fort_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected"> {{ order_status.name }}</option>
                                        {% else %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }} </option>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for=""><span data-toggle="tooltip" title="{{ help_order_placement }}">{{ entry_order_placement }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_order_placement" class="form-control">
                                        <option value="all" {{ payment_payfort_fort_order_placement == 'all' ? 'selected="selected"' : '' }}> {{ text_always }}</option>
                                        <option value="success" {{ payment_payfort_fort_order_placement == 'success' ? 'selected="selected"' : '' }} > {{ text_on_success }}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Host to Host URL:</label>
                                <div class="col-sm-10">
                                    <input size="50" type="text" readonly="readonly" value="{{ host_to_host_url }}" class="form-control" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-cc">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_credit_card" class="form-control">
                                        <option value="1" {{ payment_payfort_fort_credit_card ? 'selected="selected"' : ''  }} > {{ text_enabled }}</option>
                                        <option value="0" {{ not payment_payfort_fort_credit_card ? 'selected="selected"' : '' }} > {{ text_disabled }}</option>
                                    </select>
                                    {% if payment_payfort_fort_payment_method_required %}
                                    <span style="color:red">{{ payment_payfort_fort_payment_method_required }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-cc-integration-type"><span data-toggle="tooltip" title="{{ help_cc_integration_type }}">{{ entry_cc_integration_type }} </span></label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_cc_integration_type" id="input-cc-integration-type" class="form-control">
                                        <option value="redirection" {{ payment_payfort_fort_cc_integration_type == 'redirection' ? 'selected="selected"' : '' }} > {{ text_redirection }}</option>
                                        <option value="merchantPage" {{ payment_payfort_fort_cc_integration_type == 'merchantPage' ? 'selected="selected"' : '' }} > {{ text_merchant_page }}</option>
                                        <option value="merchantPage2" {{ payment_payfort_fort_cc_integration_type == 'merchantPage2' ? 'selected="selected"' : '' }} > {{ text_merchant_page2 }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_sort_order }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_payfort_fort_sort_order" value="{{ payment_payfort_fort_sort_order }}" size="1" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-installments">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_installments" class="form-control">
                                        <option value="1" {{ payment_payfort_fort_installments ? 'selected="selected"' : ''  }} > {{ text_enabled }}</option>
                                        <option value="0" {{ not payment_payfort_fort_installments ? 'selected="selected"' : '' }} > {{ text_disabled }}</option>
                                    </select>
                                    {% if payment_payfort_fort_payment_method_required %}
                                    <span style="color:red">{{ payment_payfort_fort_payment_method_required }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-installments-integration-type"><span data-toggle="tooltip" title="{{ help_installments_integration_type }}"> {{ entry_installments_integration_type }} </span></label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_installments_integration_type" id="input-installments-integration-type" class="form-control">
                                        <option value="redirection" {{ payment_payfort_fort_installments_integration_type == 'redirection' ? 'selected="selected"' : ''  }} > {{ text_redirection }}</option>
                                        <option value="merchantPage" {{ payment_payfort_fort_installments_integration_type == 'merchantPage' ? 'selected="selected"' : '' }} > {{ text_merchant_page }} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_sort_order }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_payfort_fort_installments_sort_order" value="{{ payment_payfort_fort_installments_sort_order }}" size="1" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-sadad">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_sadad" class="form-control">
                                        <option value="1" {{ payment_payfort_fort_sadad ? 'selected="selected"' : '' }} > {{ text_enabled }}</option>
                                        <option value="0" {{ not payment_payfort_fort_sadad ? 'selected="selected"' : '' }}> {{ text_disabled }}</option>
                                    </select>
                                    {% if payment_payfort_fort_payment_method_required %}
                                    <span style="color:red"> {{ payment_payfort_fort_payment_method_required }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_sort_order  }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_payfort_fort_sadad_sort_order" value="{{ payment_payfort_fort_sadad_sort_order }}" size="1" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-naps">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_payfort_fort_naps" class="form-control">
                                        <option value="1" {{ payment_payfort_fort_naps ? 'selected="selected"' : ''  }} > {{ text_enabled }}</option>
                                        <option value="0" {{ not payment_payfort_fort_naps ? 'selected="selected"' : '' }} > {{ text_disabled }}</option>
                                    </select>
                                    {% if payment_payfort_fort_payment_method_required %}
                                    <span style="color:red">{{ payment_payfort_fort_payment_method_required }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">{{ entry_sort_order }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_payfort_fort_qpay_sort_order" value="{{ payment_payfort_fort_qpay_sort_order }}" size="1" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}